# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/
env/
.env
*.env

# Alembic
alembic/versions/__pycache__/

# Node
node_modules/
dist/
.cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Test
.pytest_cache/
.coverage
htmlcov/
